.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1440px;
  height: 740px;
  align-self: center;
  justify-self: center;
}
.cover__link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: 1;
}

.cover__link:hover:before,
.cover__link:hover:after {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
    max-height: 200px;
  }
}
