.places__title {
  max-width: 460px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin: 0;
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  .places__title {
    font-size: 40px;
    line-height: 46px;
    max-width: 340px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 0;
    max-width: 288px;
  }
}
