.lead {
  max-width: 984px;
  position: relative;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    max-width: 720px;
  }
}
