.lead {
  max-width: 984px;
  position: relative;
  margin: auto;
  align-items: center;
}
@media screen and (max-width: 1267px) {
  .lead {
    max-width: 928px;
  }
}
@media screen and (max-width: 1023px) {
  .lead {
    max-width: 768px;
  }
}
