.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-right: 18px;
  text-decoration: none;
}
.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    margin-bottom: 32px;
    margin-right: 0;
    line-height: 24px;
  }
}
.footer__link:last-child {
  margin-bottom: 48px;
}
