.lead__title {
  font-family: "Inter", Arial, sans-serif;
  max-width: 80%;
  align-items: center;
  text-align: center;
  margin: 0 auto 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px;
  }
}
