.lead__subtitle {
  max-width: 640px;
  margin: auto auto 78px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 31px;
  }
}
