.cover {
  max-width: 1184px;
  margin: 92px auto 92px auto;
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 560px;
    margin: 90px auto 88px auto;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    margin: 66px 0 64px 0;
  }
}
