.footer__navigation {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

@media screen and (max-width: 320px) {
  .footer__navigation {
    flex-direction: column;
    margin-bottom: 0;
  }
}
