.places__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.places__block:last-child{
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .places__block {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 600px) {
  .places__block {
    flex-direction: column;
    margin-bottom: 38px;
  }
}
@media screen and (max-width: 375px) {
  .places__block {
    margin-right: 0;
  }
}
@media screen and (max-width: 320px) {
  .places__block {
    max-width: 320px;
    margin-bottom: 48px;
  }
}
