.places__website {
  align-self: flex-end;
  justify-self: flex-start;
}
@media screen and (max-width: 767px) {
  .places__website {
    align-self: flex-start;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
}
